// Color system

// theme-color-variables
$primary: #7F977B;
$secondary: #1E1E1E;
$info: #BEA363;
$danger: #FF725E;
$dark: #2F2F2F;

// Spacing

// spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  px: 1px,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4,
);

// Body

// Settings for the `<body>` element.
$body-color: #646464;

// Paragraphs

// p element.
$paragraph-margin-bottom: 0;

// Components

// Font

// font-variables
$font-family-sans-serif: 'Noto Sans TC', sans-serif;
$font-family-display: 'Playfair Display', 'Noto Sans TC', cursive;

$font-size-base: 1rem !default;
$font-size-xs: $font-size-base * 0.75 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 2.25 !default;
$font-size-xl: $font-size-base * 3 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  sm: $font-size-sm,
  xs: $font-size-xs,
  lg: $font-size-lg,
  xl: $font-size-xl
) !default;

// Forms

// form-input-variables
$input-bg: #F7F7F7;
$input-color:#2F2F2F;

$input-placeholder-color: #9E9E9E;

// Card
$card-border-radius: 20px;