.img-wrap {
    width: 100%;
    height: 200px;

    @include mobile{
        height: 160px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }
}